
$body-color: rgb(189, 69, 69);
$bg-color:linear-gradient(to bottom, #1f1f2b, #1f1f2b, #1f1f2b, #1f1f2b, #1f1f2b, #23232e, #262632, #2a2a35, #33333c, #3c3c44, #45454b, #4e4e53);
$link-color: rgb(189, 69, 69);

@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

$font-logo :'Righteous', cursive;
body{
  background: $bg-color;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
h1, h3, h4, h5, h6{
  @extend .py-2;
}
h1{
  @extend .pl-0;
}
h6{
  @extend .mb-0;
  @extend .mt-2;
}

@import "../../node_modules/bootstrap-scss/bootstrap";
.container{
  margin: 0 auto!important;
  min-width: 95vw!important;  
  @include media-breakpoint-up(md) { 
    min-width: 98vw!important; }
}
a{
  color:$secondary;
}
.button{
  @extend .btn;
  @extend .btn-info;
  @extend .my-2;  
}
.btn-auto{
  @extend .button;
  margin: 0 auto;
}
//HEADER
header{
 @extend .position-sticky;
 @extend .sticky-top;
 border-bottom: solid 1px #21324b; 
 background-color: #1f1f2b; 
}
.nav-main-top{
  @extend .navbar;
  @extend .navbar-expand-md;
  @extend .navbar-dark;
  @extend .justify-content-center;
  font-size: 1rem;
  .logout{
     display: none;
    @include media-breakpoint-up(md) { 
      display:block; 
      i{
        font-size: 2.5rem!important;
      color: white!important;}
      }
    }
  }
  ul{
    @extend .navbar-nav;
    @extend .mr-auto;
    li{
      @extend .nav-item;
    }
  }
.nav-logo{  
  @extend .nav-link;  
  font-family: $font-logo;
  font-size: 2rem;
  background-color: $white;  
  border-radius: 25px;
  @extend .py-0;
  @extend .my-2;
  @extend .mr-2; 
  @include media-breakpoint-up(md) { 
  font-size: 3rem; }  
  color:$body-color;  
}
.header-bottom{
  @include media-breakpoint-up(md) { display:none; }
  position: fixed;
  width: 100vw;
  bottom:0;
  background-color: #1f1f2b;
  border-top: solid 1px #21324b; 
 .nav-mobile{
   @extend .m-auto;
   @extend .navbar;
   @extend .navbar-dark;   
    ul{      
      display: flex!important;
      flex-direction: row;
      justify-content:space-between!important;
      min-width:50vw;
      width:85vw;
      @extend .m-auto;
      @extend .list-unstyled;
      @extend .navbar-nav;
      .nav-link.bottom{
        align-self: center;
        align-items: center;
        font-size: 1rem!important;        
        img{
          border-radius: 50%;
          border: solid 1px white;
          width: 24px;
          height: 24px;
          @extend .mb-2;
          @include media-breakpoint-up(sm) { 
            margin-right: 10px; 
            } 
        } 
        i{
          font-size: 1.4rem;
          @extend .mb-2;
          @include media-breakpoint-up(sm) { 
            margin-right: 10px; 
            } 
        }                
        display:flex;
        flex-direction: column;
        @include media-breakpoint-up(sm) { 
          flex-direction: row; 
        }
      }
    }
  }
 }
.breadcrumb-container{
  background: rgba(230, 225, 225, 0.144);
  .breadcrumb{
    @extend .breadcrumb;
    background-color: transparent;    
  }
}
//sections main- header
.search-container{
  @extend .form-group;
  input{
    @extend .form-control;
    max-width: 20vw;
    min-width: 200px;
  }
}
//mon profil
.main-acceuil-titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logout{
    max-height: 40px;
    @include media-breakpoint-up(md) { display:none; }
  }
}
.profil-charts-container{
  @extend .mt-5;  
}
.profil-dashboard-container,
.profil-charts-container{
  @extend .row;
  .profil-gestion,
  .profil-info,
  .profil-pic{
    text-align: left;
    @extend .col-12;    
    @extend .col-lg-4; 
  }  
  .profil-pic{
    @extend .col;
    @extend .order-1;
    @extend .order-lg-3; 
    @extend .order-sm-1; 
    @extend .col-sm-6;   
  }
  .profil-info{
    @extend .col;
    @extend .order-2;
    @extend .col-sm;       
    @extend .order-sm-3;
    @extend .row;
    h1{
      font-size: 2rem;
    }
    .membre-layout-side{
      @extend .col;
    }
    .membres-details-containers{
      @extend .pl-3;
    }
  }
  .profil-gestion{
    @extend .col;
    @extend .order-3;
    @extend .order-sm-2;
    @extend .order-lg-3; 
    @extend .col-sm-6;
    button{
      width: 100%;}
    }
  .profil-pic img{
    max-width: 100%;
  }
 }
.profil-echange{
  @extend .col-12;
  @extend .col-md-8;
}
.profil-succes{
  @extend .col-12;
  @extend .col-md-4;  
  canvas{
    text-align: center;
    max-width: 80%;
    max-height: 80%;
    @extend .pb-3;
    @extend .m-auto;
  }
}
.profil-echange,
.profil-succes,
.profil-content{
  @extend .d-flex;
  @extend .flex-column;
  justify-content: space-around;
} 
.chart-container{
  @extend .pt-3;
}
//profil-user
.membre-layout-info{
  ul{
    list-style: none;
    padding: 0;
    @extend .mb-3;
  }
  @extend .border-top;
 
  .membre-layout-info-address{
    @extend .border-top;
  }
}
.membre-layout{
  @extend .row;
  .membre-layout-side{
    @extend .col-sm-12;
    @extend .col-md-5;
    @extend .col-lg-4;
    .profil-pic{
      @extend .d-flex;
      @extend .flex-column;
      @extend .px-0;
      width: 100%;
      img{
        width: 100%;
      }
      button{
        margin:0 auto;
        @extend .my-4;
      }      
    }
  }
.membre-layout-albums{
  @extend .col-sm-12;
  @extend .col-md-7;
  @extend .col-lg-8; 
  .cards-footer{
    display: none;
  }   
  }
}
.albums-containers-membre  .card-list{
  @extend .row;
  .cards-album{
    @extend .col;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3;
    @extend .py-4;
  }
}
.profil-info{
  width: 100%;
  .membre-layout-side{
    @extend .col-12;
    width: 100%;
  }
}
.albums-containers,
.membres-containers{
  margin: 0 auto!important;
  max-width: 100%;;
}
//CARDS
.card-list{
  @extend .row; 
  .card-container{    
    &.album{
      @extend .card-group;      
      border-bottom: solid 1px white;      
      @extend .col-6;
      @extend .col-sm-4;
      @extend .col-md-3;
      @extend .col-lg-2;
      @extend .py-4;
      }
    }
    .cards{     
     @extend .card;    
     border-top-left-radius: 0;
      border-top-right-radius: 0;
      background: transparent;
      border: none;  
      img{
        @extend .card-img-top;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      //Pourquoi est-ce qu'em mobile ça ne fonctionne plus!?
      .cards-info-album{
        flex: 1 1 auto!important;
      }      
    }    
  }

.cards-list.membres{
  @extend .row;
  .cards-container.membres{
    @extend .card-group;
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3; 
    @extend .mt-4;
  }
  .cards.membres{
    @extend .card;  
   }
  .cards-img-top.membres{
    @extend .card-img-top;
  }
  .cards-info.membres{
    @extend .card-body;
    flex:1 1 auto;
    h4{
      @extend .card-title;
    }
    p{
      @extend.card-text;
    }
  }
  .cards-footer.membres{
    text-align: center;
    background-color: transparent;
    border-top: none;
    @extend .card-footer;
  }
}
.cards-album *{
  background-color: transparent!important; 

}
.cards-album>.cards-footer {
  justify-content: left!important;
}
.cards-info-album{
  flex: 1 1 auto;
  margin:0;
  margin-top : 0.5rem; 
  h6{
    margin-left:0;
  }
}

footer{
  background: #1f1f2b;
  @extend .mt-5;
  .footer-copyright{
    @extend .text-center;
    @extend .py-3;
  }
}